.my-carousel {
  width: 60%;
  margin: auto;
}

.my-carousel-item .item {
  width: 30%;
  margin: auto;
}

.my-carousel-item .caption {
  width: 50%;
  margin: auto;
}

h2 {
  color:#ff7d00;
  text-align: center;
  border: solid;
  background-color: #78290f;
}